html{
    
    font-family: Arial;

}
body{


	margin: 0px;
    height: 1000px;
    /*background-image: url("../backgrounds/img0.jpg");*/
    background-color: #010101;
	background-position: center;
	background-size: cover;

	border: 0.2em solid #ff9100;
    padding:            5px; 
    color:            #FF9100;

}
/*img{

    position: fixed;
    top: 50px;
    left: 50px;

}*/
#Rules_List{

    margin-top: 5%;
    margin-left: 3%;
    border:      3px solid #ff9100;
    max-width: 78%;

}
header{

    text-align: center;

}